:root {
  --background: lightblue;
  --primary-color: #d3d3d3;
  --secondary-color: grey;
  --highlight-color: #add8e6;
  --white: white;
  --black: black;
  --error-color: red;
  --link-color: blue;
  font-size: 16px;
}
body {
  margin: 0px;
}

h3 {
  margin: 0px;
}

.icon {
  width: 20px;
  height: 20px;
  filter: invert(96%) sepia(0%) saturate(5%) hue-rotate(110deg) brightness(60%)
    contrast(85%);
  /*filter: invert(96%) sepia(0%) saturate(5%) hue-rotate(110deg) brightness(91%)
  contrast(85%);*/
  transition-property: filter;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
.nav-bar {
  display: flex;
  background-color: var(--background);
  font-size: 25px;
  padding-top: 5px;
  padding-left: 10px;
}

.tab {
  background-color: var(--primary-color);
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--secondary-color);
  display: flex;
  gap: 3px;
  align-items: center;
  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.tab:hover {
  color: var(--black);
  cursor: pointer;
  .icon {
    filter: none;
  }
}

.selected:hover {
  background-color: var(--white);
}

.selected {
  background-color: var(--white);
  color: var(--black);
  .icon {
    filter: none;
  }
}

.item-link {
  color: var(--link-color);
}

.inventory-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.quantity-sub-form {
  display: flex;
  gap: 10px;
}

.item-inventory-location {
  display: flex;
  border-style: solid;
  padding: 10px;
  justify-content: space-between;
}

.item {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.error-message {
  color: var(--error-color);
}
.item-button {
  width: 150px;
  border-radius: 10px;
  background-color: var(--white);
  font-size: 14px;
  padding: 10px;
  margin-bottom: 10px;
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.item-button:hover {
  background-color: var(--highlight-color);
}

.item-button:hover {
  cursor: pointer;
}

.icon-button {
  width: 30px;
  transition-property: filter;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
.icon-button:hover {
  cursor: pointer;
  filter: invert(86%) sepia(21%) saturate(374%) hue-rotate(154deg)
    brightness(94%) contrast(91%);
}

.location-buttons,
.item-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.location-header,
.item-header {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}
.item-detail {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.add-item {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 20px;

  gap: 10px;
}

.add-inventory-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex {
  display: flex;
  gap: 3px;
}

.catalog {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 20px;
}

@media (max-width: 800px) {
  :root {
    font-size: 14px;
  }
  .item-buttons {
    flex-direction: row;
  }
  .item {
    flex-wrap: wrap;
  }
  .catalog {
    padding: 5x;
  }

  .nav-bar {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 5px;
  }
}
