:root {
--background: lightblue;
}
body {
  margin: 0px;
}

h3{
  margin: 0px;
}

.nav-bar {
  display: flex;
  background-color: var(--background);
  font-size: 30px;
  padding-top: 30px;
  padding-left: 20px;

}

.tab{
  background-color: lightgrey;
  padding: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: grey;
}

.tab:hover{
  color: black;
}

.selected:hover{
  background-color: white;
}

.selected {
  background-color: white;
  color: black;
}

.item-link{

  color: blue;
}


.inventory-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.quantity-sub-form {
  display: flex;
  gap: 10px;
}

.item-inventory-location {
  display: flex;
  border-style: solid;
  padding: 10px;
  justify-content: space-between;
}

.item {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  gap: 10px;
  align-items: center;
}



.error-message {
  color: red;
}
.item-button {
  min-width: 50px;
  max-width: 100px;
  background: lightblue;
  font-size: 12px;
  padding: 3px;
}
.location-buttons,
.item-buttons {
  display: flex;
  flex-direction:column;
  gap: 10px;
}
.location-header,
.item-header {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}
.item-detail {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.add-item {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 20px;

  gap: 10px;
}

.add-inventory-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex{
  display: flex;
  gap: 3px;
}

.catalog {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 20px;
}

@media (max-width: 800px){
  .item-buttons{
    flex-direction: row;
  }
  .item{
    flex-wrap: wrap;
  }
  .catalog{
    padding: 5x;
  }

  .nav-bar{
    font-size: 20px;
    padding-top: 10px;
    padding-left: 5px;
  }
}